<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script language="JavaScript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
	</head>

	<body>
		<div id="show"></div>
		<div>
			<input id="message" type="text" style="width: 200px">
			<button type="button" id="send" onclick="sendMessage();">
                Send!
            </button>
			<button type="button" id="send" onclick="exit();">
        exit
    </button>
		</div>
		<script>
			var ws = new WebSocket('ws://localhost:3000');
			ws.onopen = function(e) {
				console.log('Connection to server opened' + ws.readyState);
				$('#show').html("连接状态：" + ws.readyState + "</br>")
			}
			ws.onmessage = function(evt) {
				$("#show").append(evt.data + "</br>");
			}
			ws.onclose = function(evt) {
				console.log("WebSocketClosed!");
				console.log(evt);
			};

			function sendMessage() {
				var msg = $('#message').val();
				var s = {
					msg: msg,
					name: "山上的大王"
				};
				ws.send(JSON.stringify(s));
				chang();
			}

			function chang() {
				$('#message').val("");
			}

			function exit() {
				ws.close();
				console.log("退出啦");
			}
		</script>
	</body>

</html>